@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: -webkit-fill-available;
}
body{
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    display: grid;
    place-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    min-width: 28%;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}
.profile-pic{
    width: 21%;
    margin-top: 2.2rem;
    margin-bottom: 1.7rem;
    border-radius: 50px;
}
.name{
    color: white;
    margin-bottom: .5rem;
    font-weight: 600;
}
.location{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    margin-bottom: 2rem;
    font-weight: 600;
}
.description{
    font-size: 14px; 
    color: hsl(0, 0%, 100%);
    margin-bottom: .4rem;
}
.Links a{
    display: block;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    margin-top: 1.1rem;
    padding: .7rem 5.3rem;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}
a:hover{
    background-color:hsl(75, 94%, 57%) ;
    color: hsl(0, 0%, 8%);
}
.Instagram{
    margin-bottom: 2.4rem;
}
@media screen and (max-width: 1240px) {
    .container{
        width: 40%;
    }
}
@media screen and (max-width: 1000px) {
    .container{
        width: 50%;
    }

} 
@media screen and (max-width: 699px) {
    .container{
        width: 84%;
    }
}
@media screen and (max-width: 370px) {
    .container{
        width: 92%;
     }
    .profile-pic{
        width: 30%;
     }
    .description{
        text-align: center;
    }
    .name{
        text-align: center;
    }
    .location{
        text-align: center;
    }
    .Links a{
        padding: .7rem 1.5rem;
    }
} 

